
.item-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-city>p {
    border-radius: 20px;
    color: white;
    padding: 15px;
    margin: 10px;
    text-align: center;
    align-self: normal;
}

#success { 
    background-color: var(--color-success);
    display: NONE;
}

#add-city-error {   
    align-self: normal;
    background-color: var(--color-error);
    text-align: center;
    display: NONE;
}

#warning {   
    background-color: var(--color-warning);
    display: NONE;    
}


